<div class="my-5">
    <form action="" method="post">
        <div class="form-group mb-4">
            <label for="search-input">tu koa</label>
            <input class="form-control" name="q" type="text" id="search-input" placeholder="Enter your email">
        </div>
        <div class="form-group mb-4">
            <select class="form-control" name="gender" type="text" id="gender-input">
                <option value="">-- Chon gioi tinh --</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>